/* .connect-bg{
    background-attachment: fixed;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:  url(../../assets/connect/connect-bg.png);
    background-size: cover;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
} */
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000033;
  backdrop-filter: blur(8px);
  display: table;
  transition: opacity 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-wrapper {
  margin: 2rem 10px 10px 10px;
}

.modal-container {
  border-radius: 12px;
  background: #192468;
  min-width: 450px;
  /* max-width: 450px; */
  margin: 0px auto;
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33); */
  transition: all 0.3s ease;
  animation: blowUpModal 0.9s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  max-height: 94vh;
  overflow-y: auto;
}


.modal-header {
  background: #192468;
  color: black;
  padding: 20px 40px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom: 1px solid #0b87490e;
}

.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  float: right;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
  font-size: 1rem;
  width: max-content;
}


p {
  color: #8C8B8B;
  margin-right: 40px;
}



.modal-body {
  margin: 10px 40px;
  padding: 20px 0;
  background-color: #192468;
  text-align: left;

}

.modal-footer {
  padding: 40px;
  padding-top: 10px;
  background-color: #192468;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

button {
  width: 100%;

}


@media(max-width: 568px) {

  .modal-container {
    max-width: 450px !important;
    min-width: 350px !important;
  }

  .close-button {
    top: 16px;
  }

  .modal-header {
    padding: 20px;
  }

  .modal-body {
    padding: 20px 10px;
    margin: 10px;

  }
}




@keyframes blowUpModal {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}